*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1{
    text-align: center;
}
body{
    background-color: rgba(255, 123, 0, 0.651);
}

main{
    background-color: rgb(202, 202, 202);
    width: 700px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.413);
}
.logo1{
    float:left;
}

.logo{
    float: right;
}

.conteudo{
    position: relative;
    left: 130px;
}
